* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    vertical-align: top;
}

.wrapper {
    height: 100vh;
    width: 100%;
}

.ml-0-8 {
    margin-left: 0.8em;
}

.w-100 {
    width: 100px;
}

.d-none {
    display: none;
}

/* HEADER */
header {
    height: 60px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.left-container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img-container {
    width: 12%;
}

.btn {
    padding: 0 1.2em;
}

/* MAIN */
main {
    height: calc(100vh - 90px);
    background-color: #7fffd4;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > h2 {
    width: 80%;
    text-align: center;
}

.grid-container {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.grid-item-easy, .grid-item-medium, .grid-item-hard {
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item-easy {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.grid-item-medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
}
.grid-item-hard {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.grid-item-easy.active, .grid-item-medium.active, .grid-item-hard.active {
    background-color: #6596ee;
}

/* FOOTER */
footer {
    height: 30px;
    width: 80%;
    margin: 0 auto;
    display: flex;
}

footer > span {
    line-height: 30px;
}